@import '../../scss/variables';

.header__container {
  min-height: 50px;
  padding: 10px;
  background-color: $bg_light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    max-width: 120px;

    img {
      width: 100%;
    }
  }

  .header__menu--box {
    display: flex;

    .header_menu--menu {
      display: flex;
      margin-right: 10px;

      li,
      a {
        display: inline;
        color: $secondary;
        margin: 0 5px;

        &.active,
        &:hover {
          color: $primary;
        }
      }
    }

    .header__menu--language {
      padding: 0 10px;

      span {
        margin: 0 5px;
        display: inline-block;
        position: relative;
        cursor: pointer;
      }
    }


    .header__menu--social-media {
      padding-left: 10px;

      ul {
        padding: 0;
      }

      a {
        color: $secondary;
        margin: 0 5px;

        &.acive,
        &:hover {
          color: $primary;
        }
      }
    }

    .header__menu--burger {
      cursor: pointer;
    }
  }

  @include desktop {
    min-height: 100px;
    padding-left: 40px;
    padding-right: 40px;


    .header__menu--burger {
      display: none;
    }


    .header__logo {
      max-width: 200px;

      img {
        width: 100%;
      }
    }
  }
}