@import '../../scss/variables';


.packs {
  text-align: center;

  .opion__comments {
    background-color: $bg_light;
    padding: 70px;

    .col-12 {
      display: flex;
      width: 100%;
    }
  }

}