@import '../../scss/variables';


.packs {
  text-align: center;

  .packs__titles {
    padding: 70px 0;

    h1 {
      color: $primary;
      font-size: 40px;
      line-height: 50px;
      font-weight: 300;

    }

    h3 {
      font-size: 30px;
      line-height: 39px;
      font-weight: 300;
    }
  }

  .opion__comments {
    background-color: $bg_light;
    padding: 70px;

    .col-12 {
      display: flex;
      width: 100%;
    }
  }

}