@import '../../scss/variables';

.pack {
  background: $white;
  color: $text_grey;
  text-align: left;
  border-top: 2px solid $primary;
  box-shadow: 0 6px 50px rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  padding: 40px;
  width: 100%;


  ul {
    margin: 10px 0;
    padding: 0;

  }

  h4 {
    font-size: 22px;
    line-height: 1.4;
    color: #226949;
    font-weight: 300;
  }

  .pack__price {
    font-size: 22px;
    line-height: 1.4;
    color: $secondary;
    font-weight: 300;
    margin: 15px 0;
  }
}