@import '../../scss/variables';

.block__titles {
  padding: 70px 0;
  background-color: $white;

  h1 {
    color: $primary;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;

  }

  h3 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 300;
  }
}