@import '../../scss/variables';

.title {
  color: $secondary;
  font-size: 20px;
  font-weight: 300;
  font-family: $text;
  margin-bottom: 15px;
  line-height: 24px;

  @include desktop {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 45px;
  }
}