@import '../../../../scss/variables';


.welcome {
  min-height: calc(100vh - 545px);
  background-color: #fffbef;
  padding: 140px 0;
  display: flex;

  h3 {
    color: $secondary;
    font-size: 20px;
    width: 100%;
    font-weight: 300;
    font-family: $text;
    margin-bottom: 20px;
    line-height: 25px;
  }

  p {
    font-size: 16px;
    font-family: $aux;
    line-height: 24px;
    font-weight: 300;
    color: $text_grey;
    margin-bottom: 40px;
  }

  .welcome__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transform: scale(1.2);
    }

  }

  @include desktop {
    width: 600px;

    h3 {
      font-size: 40px;
      line-height: 45px;
    }
  }

}