@import '../../scss/variables';

.hero-image {


  .hero-image__container {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      font-size: 60px;
      color: $white;
      font-weight: 300;
      max-width: 950px;
    }

  }

  &.middle {
    .hero-image__container {

      height: 600px;

      p {
        font-size: 45px;
        max-width: 100%;
        text-shadow: 0 1px 5px rgba($primary, 0.5);
      }
    }
  }
}