@import '../../../../scss/variables';

.opinion {
  display: block;

  .opinion__title {
    background-color: $secondary;
    padding: 70px 0;
    text-align: center;

    h3 {
      font-size: 40px;
      font-weight: 300;
      color: $white;
    }
  }

  .opion__comments {
    padding: 70px 0;
    position: relative;
    display: block;
  }
}