@import '../../../../scss/variables';

.treatments__home {
  text-align: center;
  background-color: $bg_light;
  padding-bottom: 35px;

  h3 {
    padding: 20px;
  }

  .treatments__pictures {
    margin-bottom: 25px;
    margin-top: 25px;

    .col-12 {
      position: relative;
      cursor: pointer;

      span {
        display: none;
        position: absolute;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        text-align: center;
        color: $white;
        background-color: rgba($color: $secondary, $alpha: 0.7);
      }

      &:hover {
        span {
          display: flex;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  .treatments__button--box {
    text-align: center;

    width: 100%;

    a {
      margin: 0 auto;
    }
  }

  @include desktop {
    padding-bottom: 70px;

    h3 {
      padding: 40px 0;
    }

    .treatments__pictures {
      margin-bottom: 80px;
      margin-top: 25px;

      .col-12 {
        padding: 0;

      }


    }
  }
}