@import '../../scss/variables';


.packs {
  text-align: center;

  .opion__comments {
    background-color: $bg_light;
    padding: 35px 20px;

    .col-12 {
      display: flex;
      width: 100%;
    }
  }

  @include desktop {
    .opion__comments {
      padding: 70px;
    }
  }
}