@import '../../scss/variables';

.no-found__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 50px 40px 0;

  h1 {
    font-size: 150px;
  }

  @include desktop {
    padding: 150px 40px 0;

  }
}