@import './scss/variables';
@import './scss/mediaqueries';

@import '../node_modules/bootstrap/scss/bootstrap.scss';


body {
  font-family: $text;
}


li {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}