@import '../../scss/variables';

.about {
  min-height: calc(100vh - 100px);

  .about__content {
    padding: 35px 20px;

    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    p {
      font-family: $karla;
      font-weight: 300;
      color: $text_grey;
      line-height: 24px;
      font-size: 16px;

      br {
        display: block;
        margin: 20px 0;
      }
    }

    img {
      width: 100%;
    }
  }

  .about__title-reviews {
    background-color: $secondary;
    padding: 35px 0;
    text-align: center;

    h3 {
      font-size: 20px;
      font-weight: 300;
      color: $white;
    }
  }

  .about_content-reviews {
    padding: 70px 0;
  }

  @include desktop {
    .about__content {
      padding: 100px 50px
    }

    .about__title-reviews {
      padding: 70px 0;

      h3 {
        font-size: 40px;
      }
    }
  }
}