@import '../scss/variables';

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color:$black, $alpha: 0.5);

  transition: background-color 3s ease-out, display 3s ease-out;
  z-index: 1000;

  .menu-mobile_content {
    display: block;
    position: absolute;
    top: 0;
    left: -100vh;
    width: 90vw;
    height: 100vh;
    background-color: $white;
    transition: left 3s;
    padding: 40px 0;

    svg {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .menu-mobile--menu {
    height: 100vh;

    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 15px;

      li {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;

        a {
          color: $primary;
        }
      }
    }
  }

  &.open {
    display: block;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .menu-mobile_content {
      left: 0;
    }
  }
}